In [9]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import os

In [10]:
print(os.listdir())

['.ipynb_checkpoints', 'data  cleaning.ipynb']

In [11]:
data_df=pd.read_csv('C:\\Users\\USER\\Downloads\\Tetuan City power consumption.csv')
data_df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [12]:
data_df.isnull().sum()

DateTime                     0
Temperature                  0
Humidity                     0
Wind Speed                   0
general diffuse flows        0
diffuse flows                0
Zone 1 Power Consumption     0
Zone 2  Power Consumption    0
Zone 3  Power Consumption    0
dtype: int64

In [13]:
data_df['Temperature'].unique()

array([6.559, 6.414, 6.313, ..., 6.947, 6.758, 6.58 ])

In [14]:
data_df['Temperature'].nunique()

3437

In [15]:
id_counts=data_df['Temperature'].value_counts()
id_counts.head()

15.18    58
20.76    56
19.79    55
20.74    52
20.83    51
Name: Temperature, dtype: int64

In [16]:
id_counts.value_counts()

1     713
2     219
3     141
4     104
21     87
25     85
22     82
5      80
14     77
27     76
24     76
26     75
7      74
20     73
23     73
8      72
28     72
29     68
6      66
32     66
9      65
19     63
30     60
18     60
35     56
16     56
15     55
17     55
31     53
37     53
11     50
10     49
13     43
33     42
12     42
36     41
34     33
38     28
39     28
40     25
44     17
42     17
43     16
41     13
46      9
47      8
45      5
49      4
48      3
51      3
50      2
56      1
52      1
55      1
58      1
Name: Temperature, dtype: int64

In [4]:
import numpy as np
from numpy.random import default_rng
rg=default_rng(12345)
random_integers=rg.integers(low=1,high=5,size=100)

In [8]:
import pandas as pd
from collections import defaultdict
data_df=pd.read_csv('C:\\Users\\USER\\Downloads\\Tetuan City power consumption.csv')
id_counts=data_df['Temperature'].value_counts()
id_counts.head()
dupe_mask=id_counts==2
print(dupe_mask)

15.18    False
20.76    False
19.79    False
20.74    False
20.83    False
         ...
33.49    False
33.35    False
33.22    False
30.68    False
6.58     False
Name: Temperature, Length: 3437, dtype: bool

In [9]:
id_counts.index[0:5]

Float64Index([15.18, 20.76, 19.79, 20.74, 20.83], dtype='float64')

In [10]:
 dupe_ids=id_counts.index[dupe_mask]

In [11]:
dupe_ids=list(dupe_ids)
len(dupe_ids)

219

In [12]:
dupe_ids[0:5]

[35.78, 28.99, 34.54, 6.883, 31.65]

In [23]:
data_df.loc[data_df['Temperature'].isin(dupe_ids[0:3]),:]

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
27000,7/7/2017 12:00,35.78,27.88,4.921,841.0,94.40,29444.25249,30592.40506,27378.07531
28590,7/18/2017 13:00,35.78,22.18,4.925,887.0,68.55,41812.62458,29096.20253,31408.87029
29624,7/25/2017 17:20,28.99,48.46,4.910,483.4,52.48,39580.06645,27451.89873,33065.77406
29733,7/26/2017 11:30,34.54,29.75,4.909,806.0,57.41,41736.07973,28788.60759,31788.45188
29748,7/26/2017 14:00,34.54,34.48,4.906,857.0,65.56,42252.75748,30303.79747,33800.83682
31619,8/8/2017 13:50,28.99,73.30,4.906,700.0,360.00,43663.48502,31156.91658,30075.98746

In [24]:
df_zero_mask=data_df==0

In [25]:
feature_zero_mask=df_zero_mask.iloc[:,1:].all(axis=1)

In [26]:
sum(feature_zero_mask)

0

In [29]:
data_df_clean_1=data_df.loc[feature_zero_mask,:].copy()

In [30]:
data_df_clean_1.shape

(0, 9)

In [31]:
data_df_clean_1['Temperature'].nunique()

0